/* Global CSS */
body {
  font-family: Gill Sans, sans-serif;
  text-align: center;
  color: #16b978;
  background-color: #040318;
}
.container{
  margin: 0 auto;
  padding: 2px;
  background-color: #071a52;
  width: 90%;
  height: 97vh;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
a{
  color: #a7ff84;
  text-decoration: none;
  font-size: 20px;
}

/* Header */
#welcome_bar{
  background-color: #086972;
  padding: 20px;
  margin: 0;
  border-radius: 5px 5px 0px 0px;
}
#see_bar{
  background-color: #16b978;
  margin-top: 0;
  padding: 10px;
}

/* Webpage Content */
.link{
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.animal_icon{
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 4px solid #16b978;
  border-radius: 10px;
}
.animal_label{
  margin-top: 5px;
  font-weight: bold;
}

.linkOption:hover{
  transform: scale(1.03);
  transition: transform .3s ease;
  color: goldenrod;
}
.animal_icon:hover{
  border: 4px solid gold;
  transition: transform .3s ease;
}

/*Footer*/
.footer{
  position: absolute;
  bottom: 0px;
  margin: auto;
  width: 88%;
  background-color: #086972;
  padding: 7px;
  border-radius: 10px;
}