/* Main CSS */
body {
  font-family: Gill Sans, sans-serif;
  text-align: center;
  color: #16b978;
  background-color: #040318;
}
.container{
  margin: 0 auto;
  padding: 2px;
  background-color: #071a52;
  width: 90%;
  height: 97vh;
  color: #fff;
  border-radius: 10px;
}

/* Header */
#title_bar{
  background-color: #086972;
  padding: 20px;
  margin: 0;
  border-radius: 5px 5px 0px 0px;
}
a{
  text-decoration: none;
  color: white;
}
.back_button{
  position: absolute;
  left: 6%;
  background: #16b978;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #040318;
  border-radius: 10px;
  margin: 10px;
}
.back_button:hover{
  color:#071a52;
}

/* Body */
p{
  width: 75%;
  margin: auto;
  padding: 20px;
}

/* Image */
img{
  border: 5px solid #040318;
  border-radius: 10px;
  max-height: 70%;
  max-width: 70%;
}